### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)
purchase_data_df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [2]:
players_df = purchase_data_df.loc[:, ["SN", "Age", "Gender"]]
players_df = players_df.drop_duplicates ()
user_total = players_df.count()[0]
print(f"Total Players: {user_total}")

Total Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
item_index = purchase_data_df["Item ID"].nunique()
price_ave = purchase_data_df["Price"].mean()
purchases = purchase_data_df["Purchase ID"].nunique()
revenue = purchase_data_df.Price.sum()

purchase_summary = pd.DataFrame([{"Number of Unique Items": item_index,
                                "Average Price": price_ave, 
                                "Number of Purchases": purchases,
                                "Total Revenue": revenue,
                                }])
pd.options.display.float_format = "${:,.2f}".format
purchase_summary

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179          $3.05                  780      $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [9]:
genders = players_df["Gender"].value_counts()
gender_percents = genders / user_total * 100
demographics = pd.DataFrame({"Percent of Players": gender_percents,
                          "Total Count": genders
                          })
pd.options.display.float_format = "{:,.2f}%".format
demographics

                       Percent of Players  Total Count
Male                               84.03%          484
Female                             14.06%           81
Other / Non-Disclosed               1.91%           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [20]:
# sorted by gender
gender_grouped=purchase_data_df.groupby(["Gender"])

# purchase count
gender_counts=gender_grouped.count()["Price"]

# ave price
gender_purchase_ave=gender_grouped.mean()["Price"]
#gender_purchase_ave=gender_purchase_ave.map("${:.2f}".format)

# total price
gender_value=gender_grouped.sum()["Price"]
#gender_value=gender_value.map("${:,2f}".format)

# ave total purchase per person 
gender_ind_total_ave=gender_value/demographics["Total Count"]
#gender_ind_total_ave=gender_ind_total_ave.map("${:,2f}".format)

# format and compile to df
gender_analysis_df = pd.DataFrame({"Purchase Count": gender_counts, 
                                  "Average Purchase Price": gender_purchase_ave, 
                                  "Total Purchase Value": gender_value, 
                                 "Ave Total Purchase per Person": gender_ind_total_ave})
pd.options.display.float_format = "${:,.2f}".format
gender_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Ave Total Purchase per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [54]:
# creating bins
bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, np.inf]
ages = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

age_group=players_df
age_group["Age Summary"]=pd.cut(players_df["Age"], bins, labels=ages, include_lowest=False)
age_group_df=age_group.groupby(["Age Summary"])

#calculate number & percentage by age groups
age_count = age_group_df.count()
age_group_percent = age_count / players_df.count()[0] * 100


age_analysis_df = pd.DataFrame({"Total Count": age_count["Age"],
                   "Percentage of Players": age_group_percent["Gender"]})
#pd.options.display.float_format = "{:,.2f}%".format

age_analysis_df

             Total Count  Percentage of Players
Age Summary
<10                   17                  2.95%
10-14                 22                  3.82%
15-19                107                 18.58%
20-24                258                 44.79%
25-29                 77                 13.37%
30-34                 52                  9.03%
35-39                 31                  5.38%
40+                   12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [70]:
# Bring forward already established bins 
purchase_by_age=purchase_by_age["Purchase ID"].count()

# Calculations: avg, value, avg per person
purchase_avg=purchase_by_age["Price"].mean
purchase_value=purchase_by_age["Price"].sum()
purchase_ind_total_avg=purchase_by_age/demographics["Total Count"]

# format and compile to df
purchase_by_age_df = pd.DataFrame({"Purchase Count": purchase_by_age, 
                                  "Average Purchase Price": purchase_avg, 
                                  "Total Purchase Value": purchase_value, 
                                 "Avg Total Purchase per Person": purchase_ind_total_avg})
pd.options.display.float_format = "${:,.2f}".format

KeyError: 'Purchase ID'

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80